<div
  class="panel"
  role="tab"
  aria-selected="{{ selected }}"
  aria-controls="panel{{ panel_order }}"
  id="tab{{ panel_order }}"
  tabindex="0"
>
  <div class="panel-content" id="panel{{panel_order}}">
    <div class="text-content">
      <h3 class="figma-label-large" style="z-index: 100;">June 10, 2025</h3>
    </div>
    <div class="image-content">

    </div>
  </div>
</div>
