<div
  class="panel"
  role="tab"
  aria-selected="{{ selected }}"
  aria-controls="panel{{ panel_order }}"
  id="tab{{ panel_order }}"
  tabindex="0"
>
  <div class="panel-content" id="panel{{panel_order}}">
    <div class="text-content">
      <div class="inner">
        <h3 class="figma-label-large">{{ header }}</h3>
        <p>
          Soufflé cupcake donut pudding cupcake chocolate cake. Gummies sweet roll marzipan marshmallow liquorice carrot cake chocolate bar halvah lollipop.
        </p>
      </div>
    </div>
    <div class="image-content {{ img_type }}">

    </div>
  </div>
</div>
