<div class="hero-accordion" role="tablist" aria-label="Hero accordion">
  <div class="panel"
    role="tab"
    aria-selected="true"
    aria-controls="panel1"
    id="tab1"
    tabindex="0"
    style="border: 1px solid rgb(50, 44, 44);"
  >
    <div class="panel-content" id="panel1">
      <h3 class="figma-label-large" style="z-index: 100;">Video goes here</h3>
      <div class="video-cover">
        {# <iframe
          src="https://www.youtube.com/embed/sN-yrZ1UnEY?si=Poja2Ly8D4Pj3GvP&autoplay=1&mute=1&controls=0&loop=1&playlist=sN-yrZ1UnEY"
          allow="autoplay; fullscreen"
          frameborder="0"
          allowfullscreen
        ></iframe> #}
      </div>
    </div>
  </div>

  {% set text_image_panels = [
    { selected: "false", panel_order: "2", img_type: "badge", header: "Panel #2" },
    { selected: "false", panel_order: "3", img_type: "volunteer", header: "Panel #3" }
  ] %}

  {% for text_image_panel in text_image_panels %}
    {% set selected = text_image_panel.selected %}
    {% set panel_order = text_image_panel.panel_order %}
    {% set img_type = text_image_panel.img_type %}
    {% set header = text_image_panel.header %}
    {% include "partials/hero-accordion-text-image-panel.njk" %}
  {% endfor %}

</div>
