<div class="rolling-phrases" data-style-type={{ style_type }}>
  <h2 class="figma-heading-1">
    <span aria-hidden="true">
    Make good
    <span class="phrase-wrapper">
      <span class="phrase-list">
      <span class="phrase">tech the norm</span>
      <span class="phrase">things together</span>
      <span class="phrase">ideas matter</span>
      </span>
    </span>
    </span>
    <span class="sr-only">Make tech the norm, things together, ideas matter</span>
  </h2>
</div>
