<section class="header-section text-center" style="margin: 30px 0">
  <h1 class="header-title">Type Test</h1>
  <p class="intro-text">
    New Foundation Site Design System Tests using
    <strong>Mozilla Type Family</strong> and
    <strong>Foundation Framework</strong>
  </p>
  <button class="button" id="toggleUnderlayBtn">Toggle Grid Underlay</button>
</section>
