{% extends "base.njk" %}

{% block additional_style %}
<style>
body {
  min-height: 100vh;
}
ul li {
  font-size: 2rem;
}
</style>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div class="grid-container">
  <!-- Header Section -->
  <section class="header-section" style="margin: 0">
    <h1 class="text-center header-title">Hello</h1>
    <p class="text-center intro-text">
      New Foundation Site Design System Tests using
      <strong>Mozilla Type Family</strong> and
      <strong>Foundation Framework</strong>
    </p>
  </section>

  <section>
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 large-8 medium-offset-2 large-offset-2">
        <ul class="no-bullet">
          <li>
            <a href="type.html">Type</a>
          </li>
          <li>
            <a href="layout.html">Layout (Columns)</a>
          </li>
          <li>
            <a href="hero-accordion.html">Hero Accordion</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <section class="footer-section">
    <footer class="grid-x grid-margin-x">
      <div class="cell small-12 text-center"></div>
    </footer>
  </section>

</div>
{% endblock %}
