{% extends "base.njk" %}
{% import "../partials/page-header.njk" as pageHeader %}

{% block title %}Layout Test{% endblock %}

{% block additional_style %}
<style>
  .cell-inner {
    background: #dad8d878;
  }

  .column-note {
    font-weight: bold;
    text-transform: uppercase;
  }
  .grid-x {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
    align-items: stretch; /* Ensure columns stretch to the same height */
  }
</style>
{% endblock %}

{% block content %}
<div class="grid-container with-side-border">

  {% include "partials/grid-container-underlay.njk" %}

  {{ pageHeader.setHeader("Layout Test") }}

  <!-- Layout Section -->
  <section>

    {% set cells = [ { size: "small-12", note: "12-column wide" } ] %}
    {% include "partials/layout/row.njk" %}

    {% set cells = [ { size: "small-6", note: "6-column wide" } ] %}
    {% include "partials/layout/row.njk" %}

    {% set cells = [ { size: "small-8 small-offset-2 medium-offset-2 large-offset-2", note: "8-column wide, 2-column offset" } ] %}
    {% include "partials/layout/row.njk" %}

    {% set cells = [ { size: "small-6 small-offset-6 medium-offset-6 large-offset-6", note: "6-column wide, 6-column offset" } ] %}
    {% include "partials/layout/row.njk" %}

    {% set cells = [
      { size: "small-4", note: "4-column wide" },
      { size: "small-4", note: "4-column wide" },
      { size: "small-4", note: "4-column wide" }
    ] %}
    {% include "partials/layout/row.njk" %}

    {% set cells = [
      { size: "small-2 small-offset-8 medium-offset-8 large-offset-8", note: "2-column wide, 8-column offset" },
      { size: "small-2", note: "2-column wide" }
    ] %}
    {% include "partials/layout/row.njk" %}

  </section>

  <section class="footer-section">
    <footer class="grid-x grid-margin-x">
      <div class="cell small-12 text-center"></div>
    </footer>
  </section>

</div>
{% endblock %}
