{% extends "base.njk" %} {% block title %}New Foundation Site Design System -
Type Test{% endblock %} {% block content %} {% include
"../partials/grid-container-underlay.njk" %}

<nav class="text-center" style="margin: 30px 0">
  <a href="index.html" class="button">Back to Index</a>
</nav>

{% include "../partials/type-header.njk" %} {% include
"../partials/type-sections.njk" %} {% endblock %}
