{% extends "base.njk" %}
{% import "../partials/page-header.njk" as pageHeader %}

{% block title %}Type Test{% endblock %}

{% block content %}
  {% include "../partials/grid-container-underlay.njk" %}
  {{ pageHeader.setHeader("Type Test") }}
  {% include "../partials/type-sections.njk" %}
{% endblock %}
