{% extends "base.njk" %}

{% block title %}New Foundation Site Design System - Type Test{% endblock %}

{% block content %}
  {% include "../partials/grid-container-underlay.njk" %}
  {% include "../partials/type-header.njk" %}
  {% include "../partials/type-sections.njk" %}
{% endblock %}
