.hero-accordion {
  $expanded-panel-ratio: 16 / 9;
  $height-small: 300px;
  $height-medium: 300px;
  $height-large: 400px;
  $height-xxlarge: 600px;
  $animation-duration: 1s;

  background: white;
  max-width: 100%;
  width: 100vw;
  height: $height-small;
  display: flex;
  overflow: hidden;
  gap: 1rem;

  @include breakpoint(medium up) {
    height: $height-medium;
  }

  @include breakpoint(large up) {
    height: $height-large;
  }

  @include breakpoint(xxlarge up) {
    height: $height-xxlarge;
  }

  .panel {
    flex: 1;
    transition: flex $animation-duration ease-out;
    background-size: cover;
    background-position: center;
    // background: rgb(235, 223, 254);
    border: 2px solid rgb(50, 44, 44);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &[aria-selected="true"] {
      flex: 0 0 calc(#{$height-small} * $expanded-panel-ratio);
      // background: rgb(207, 176, 251);

      @include breakpoint(medium up) {
        flex: 0 0 calc(#{$height-medium} * $expanded-panel-ratio);
      }

      @include breakpoint(large up) {
        flex: 0 0 calc(#{$height-large} * $expanded-panel-ratio);
      }

      @include breakpoint(xxlarge up) {
        flex: 0 0 calc(#{$height-xxlarge} * $expanded-panel-ratio);
      }

      .text-content {
        width: 50%;
      }

      .image-content {
        width: 50%;
      }
    }

    &[aria-selected="false"] {
      flex: 1;

      .text-content {
        width: 0%;
      }

      .image-content {
        width: 100%;
      }
    }

    .panel-content {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      position: relative;

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: width $animation-duration ease-out;
        background: #eee;
      }

      .image-content {
        transition: width $animation-duration ease-out;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &.badge {
          background-image: url("../../assets/images/2024_MozFestHouseAmsterdam_Badge.jpg");
        }

        &.volunteer {
          background-image: url("../../assets/images/2024_MozFestHouseAmsterdam_Volunteers.jpg");
        }
      }
    }

    .video-cover {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% * #{$expanded-panel-ratio}); // to "cover" 100% height
      height: 100%;
      transform: translate(-50%, -50%);
      pointer-events: none; // optional: disables interaction if you want video as background only

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  @include breakpoint(small down) {
    flex-direction: column;
    height: auto;

    .panel {
      flex: auto;

      &[aria-selected="true"] {
        flex: auto;
      }

      .panel-content {
        height: auto;
        aspect-ratio: 16 / 9;
      }
    }
  }
}
