@use "sass:math";

.hero-accordion {
  $gap-size: 1rem;
  $expanded-panel-width-base: 50vw;
  $expanded-panel-ratio: 16 / 9;

  $panel-transition: (
    duration: 1s,
    timing: cubic-bezier(0.7, 0, 0.15, 1)
  );

  @function expanded-panel-width($fraction: 1) {
    @return calc(#{$expanded-panel-width-base} * #{$fraction});
  }

  background: white;
  display: flex;
  overflow: hidden;
  gap: $gap-size;
  width: 100vw;
  height: calc(expanded-panel-width() / #{$expanded-panel-ratio});

  .panel {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    transition: flex map-get($panel-transition, duration) map-get($panel-transition, timing);

    &[aria-selected="true"] {
      flex: 0 0 expanded-panel-width();

      .panel-content {
        .text-content {
          transform: translateX(-100%);

          .inner {
            transform: translateX(0);
            transition: transform map-get($panel-transition, duration) map-get($panel-transition, timing);
          }
        }

        .image-content {
          width: 50%;
          filter: brightness(100%);
          transition: filter map-get($panel-transition, duration) map-get($panel-transition, timing);
        }
      }
    }

    .panel-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: end;
      overflow: hidden;
      position: relative;

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: black;
        color: white;
        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(0%);
        transition: transform map-get($panel-transition, duration) map-get($panel-transition, timing);

        padding: 1rem;
        width: expanded-panel-width(0.5);
        height: 100%;

        .inner {
          transform: translateX(-100%);
          transition: transform map-get($panel-transition, duration) map-get($panel-transition, timing);
        }
      }

      .image-content {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        width: expanded-panel-width(0.5);
        filter: brightness(50%);
        transition:
          width map-get($panel-transition, duration) map-get($panel-transition, timing),
          filter map-get($panel-transition, duration) map-get($panel-transition, timing);

        &.badge {
          background-image: url("../../assets/images/2024_MozFestHouseAmsterdam_Badge.jpg");
        }

        &.volunteer {
          background-image: url("../../assets/images/2024_MozFestHouseAmsterdam_Volunteers.jpg");
        }
      }
    }

    // .video-cover {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   width: calc(100% * #{$expanded-panel-ratio}); // to "cover" 100% height
    //   height: 100%;
    //   transform: translate(-50%, -50%);
    //   pointer-events: none;

    //   iframe {
    //     width: 100%;
    //     height: 100%;
    //     border: 0;
    //   }
    // }
  }

  @include breakpoint(small down) {
    flex-direction: column;
    height: auto;

    .panel {
      flex: auto;
      aspect-ratio: $expanded-panel-ratio;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .panel,
    .text-content,
    .image-content {
      transition: none !important;
    }
  }
}
