<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}New Foundation Site Design System Tests{% endblock %}
    </title>
    <link rel="stylesheet" href="assets/css/style.css" />
    {% block additional_style %} {% endblock %}
  </head>
  <body>
    {% block nav %}
    <div class="grid-container" style="background: transparent;">
      <nav style="display: flex; justify-content: space-between;">
        <a href="index.html" class="button fill-up-btn">Back to Index</a>
        <button class="button" id="toggleUnderlayBtn">Toggle Grid Underlay</button>
      </nav>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="assets/js/tooltip.js"></script>
    <script src="assets/js/grid-underlay.js"></script>
  </body>
</html>
