/* Make the first grid-container act as a grid underlay */
.grid-container-underlay {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin-left: -10px; /* Offset additional space/padding that might be applied by a nested .grid-container */
}

/* Apply margin-left of 15px for medium devices */
@media screen and (min-width: 640px) {
  .grid-container-underlay {
    margin-left: -15px; /* Offset additional space/padding that might be applied by a nested .grid-container */
  }
}

.grid-container-underlay .grid-container {
  height: 100%;
}

.grid-x.grid-margin-x {
  position: relative;
  z-index: 1; /* Make sure grid items are above the background */
  height: 100%;
}

.grid-container-underlay .cell {
  height: 100%;
}

.grid-container-underlay .cell-inner {
  background-color: rgba(41, 197, 106, 0.1);
  text-align: center;
  height: 100%;
}

/* Additional styling for the content grid-container */
.grid-container {
  position: relative;
  z-index: 2;
}

/* Hiding the underlay */
.grid-container-underlay.hidden {
  display: none;
}
