<div class="cell placeholder {{ cell.size }} {% if cell.offset %}{{ cell.offset }}{% endif %}">
  <div class="cell-inner" style="height: {{ cell.height | default('200px') }}">
    <p class="column-note">{{ cell.note }}</p>
  </div>
</div>
