<div class="cell {{ cell.size }} {% if cell.offset %}{{ cell.offset }}{% endif %}">
  <div class="cell-inner">
    <p class="column-note">{{ cell.note }}</p>
    <p>Brownie topping tiramisu soufflé danish. Marshmallow liquorice bonbon liquorice dessert. Marzipan candy chocolate donut gingerbread. Marzipan soufflé gingerbread fruitcake carrot cake soufflé candy canes biscuit. Dessert jelly tootsie roll jelly-o marshmallow sweet roll.</p>
  </div>
</div>
